*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    display: inline-flex;
    list-style-type: none;
}
li {
    margin: 24px;
    list-style: none;
}
img{
    max-width: 400px;
    max-height: 400px;
}

